
/ProgramingGameXNA.suo
/ProgramingGameXNA/Content/
/ProgramingGameXNA/ProgramingGameXNA.csproj.Debug.cachefile
/ProgramingGameXNA/ProgramingGameXNA.csproj.user
/ProgramingGameXNA/bin/
/ProgramingGameXNA/obj/
